$color__main: #7c70ff;
$color__link_hover: #cfbe2d;
$color__link_text: aquamarine;
$color_bg__section_1: #f3f2ff;
$color_bg__section_2: #fffcf5;
$height__my_photo: 480px;
$width__image__certificate: 500px;

@mixin text_font($fs: 16px, $lh: 20px) {
  font-size: $fs;
  line-height: $lh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  @include text_font;
  margin-bottom: 10px;
}

.center {
  padding: 0 calc((100% - 1200px) / 2);
}

.header {
  height: 50px;
  background-color: $color__main;
}

.header__cont {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cont__logo {
  color: $color__link_text;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.header__cont__navi {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.header__cont__navi__link {
  color: $color__link_text;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}

.header__cont__navi__link:hover {
  color: $color__link_hover;
}

.main__contacts_and_about_me {
  background-color: $color_bg__section_1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__contacts_and_about_me__vacancy {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.main__contacts_and_about_me__name {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.main__contacts_and_about_me__cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__contacts_and_about_me__cont__my_photo {
  max-width: 30%;
  max-height: $height__my_photo;
}

.main__contacts_and_about_me__cont__info {
  min-height: $height__my_photo;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__contacts_and_about_me__cont__info__text__contacts__phone__link,
.main__contacts_and_about_me__cont__info__text__contacts__email__link {
  text-decoration: none;
  color: $color__main;
}

.main__contacts_and_about_me__cont__info__text__contacts__phone__link:hover,
.main__contacts_and_about_me__cont__info__text__contacts__email__link:hover {
  color: $color__link_hover;
}

.main__contacts_and_about_me__cont__info__action {
  display: flex;
  justify-content: space-around;
}

.main__contacts_and_about_me__cont__info__action__communication {
  text-decoration: none;
  color: $color__link_text;
  background-color: $color__main;
  padding: 10px 20px;
  border-radius: 20px;
  @include text_font(16px, 16px);
  border: 2px solid transparent;
  transition: transform 0.2s linear 0.1s, color 0.2s linear 0.1s,
    background-color 0.2s linear 0.1s, border 0.2s linear 0.1s;
}

.main__contacts_and_about_me__cont__info__action__communication:hover {
  color: $color__main;
  background-color: $color__link_text;
  border: 2px solid $color__main;
  transform: scale(1.2);
}

.main__contacts_and_about_me__cont__info__action__communication:active {
  position: relative;
  top: 5px;
}

.my_projects {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_2;
}

.my_projects__cont__menu {
  list-style-type: none;
}

.my_projects__cont__menu__item {
  @include text_font(24px, 28px);
}

.my_projects__cont__menu__item__link {
  text-decoration: none;
  color: $color__main;
}

.my_projects__cont__menu__item__link:hover {
  text-decoration: underline;
  color: $color__link_hover;
}

.my_projects__cont__menu__item-duck_hunt {
  font-weight: 700;
}

.my_skills {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_1;
}

.my_skills__cont__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my_skills__cont__technologies__item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_skills__cont__technologies__item__img {
  width: 125px;
}

.my_skills__cont__technologies__item__description {
  display: none;
}

.my_certificates {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my_certificates__cont__description {
  text-align: center;
}

.my_certificates__cont__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my_certificates__cont__main__card {
  margin: 10px;
}

.my_certificates__cont__main__card__spec {
  position: relative;
  line-height: 0;
}

.my_certificates__cont__main__card__spec__checkbox {
  position: absolute;
  top: 0;
  left: -500vw;
}

.my_certificates__cont__main__card__spec__overlay {
  display: none;
}

.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-color: red;
  line-height: 0;
}

.my_certificates__cont__main__card__spec__overlay__img {
  width: $width__image__certificate;
}

.my_certificates__cont__main__card__spec__img {
  width: $width__image__certificate;
}

.my_certificates__cont__main__card__spec__label {
  position: relative;
  left: 25px;
  display: block;
  height: 24px;
  width: 50px;
  background-color: red;
  border-radius: 12px;
  padding: 1px;
  cursor: pointer;
}

.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__label {
  background-color: green;
}

.my_certificates__cont__main__card__spec__label::before {
  position: absolute;
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
}

.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__label::before {
  left: 26px;
}

.my_certificates__cont__main__card__spec__label::after {
  position: absolute;
  top: 12px;
  left: -15px;
  content: "ru";
  color: red;
}

.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__label::after {
  position: absolute;
  top: 12px;
  left: 53px;
  content: "en";
  color: green;
}
