$color__main: #fcecd2;
$color__main_trasparent: rgba(252, 236, 210, 0.2);
$color__link_hover: #cfbe2d;
$color__link_text: #7c70ff;
$color_bg__section_1: #f3f2ff;
$color_bg__section_2: #fffcf5;
$height__my_photo: 480px;
$width__image__certificate: 150px;
$width__period: 15%;
$animation_point_item: rotate_point_item 4s linear 0.5s infinite normal none;

@mixin text_font($fs: 16px, $lh: 20px) {
  font-size: $fs;
  line-height: $lh;
}

@mixin title_decoration {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top: 7px solid red;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  margin: 0 10px;
  animation: rotate_item_point 1s linear 1s infinite none;
}

@mixin point_item {
  content: "";
  height: 100%;
  width: 0;
  border: 5px solid red;
  margin: 0 10px;
}

@keyframes rotate_item_point {
  0% {
    transform: rotateZ(0deg);
    border-top: 7px solid red;
  }
  14.285714% {
    transform: rotateZ(51.4285714deg);
    border-top: 7px solid orange;
  }
  28.571428% {
    transform: rotateZ(102.857143deg);
    border-top: 7px solid yellow;
  }
  42.857142% {
    transform: rotateZ(154.285714deg);
    border-top: 7px solid green;
  }
  57.142856% {
    transform: rotateZ(205.714286deg);
    border-top: 7px solid cyan;
  }
  71.42857% {
    transform: rotateZ(257.142857deg);
    border-top: 7px solid blue;
  }
  85.714284% {
    transform: rotateZ(308.871429deg);
    border-top: 7px solid blueviolet;
  }
  100% {
    transform: rotateZ(360deg);
    border-top: 7px solid red;
  }
}

@keyframes rotate_point_item {
  0% {
    transform: rotateZ(0deg);
    border-radius: 0%;
  }
  50% {
    transform: rotateZ(180deg);
    border-radius: 50%;
  }
  100% {
    transform: rotateZ(360deg);
    border-radius: 0%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-button {
  width: 12px;
  background-color: $color__link_text;
}

body:hover::-webkit-scrollbar-button {
  background-color: $color__main;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

body:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: $color__link_text;
}

body:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $color__main;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 3px;
  text-align: center;
  cursor: context-menu;
  color: #9c271f;
}

h2::before,
h2::after {
  @include title_decoration;
}

h2::before {
  animation-direction: normal;
}

h2::after {
  animation-direction: reverse;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  @include text_font;
  margin-bottom: 10px;
}

.center {
  padding: 0 calc((100% - 1200px) / 2);
}

.header {
  height: 50px;
  background-color: $color__main;
}

.header__cont {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cont__logo {
  color: $color__link_text;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.header__cont__navi {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.header__cont__navi__link {
  color: $color__link_text;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}

.header__cont__navi__link:hover {
  color: $color__link_hover;
}

.main__contacts_and_about_me {
  background-color: $color_bg__section_1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__contacts_and_about_me__vacancy {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.main__contacts_and_about_me__name {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.main__contacts_and_about_me__cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__contacts_and_about_me__cont__my_photo {
  max-width: 30%;
  max-height: $height__my_photo;
}

.main__contacts_and_about_me__cont__info {
  min-height: $height__my_photo;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anchor {
  font-size: 0;
  line-height: 0;
}

.career__line {
  display: inline;
  height: 0;
  width: 0;
  margin: 0 auto;
}

.career__line::after {
  content: "";
  width: 250px;
  border-bottom: 2px solid $color__link_text;
  display: block;
  margin: 0 auto 10px;
}

.career__line:hover::after {
  content: "";
  border-bottom: 2px solid $color__link_hover;
}

h2:hover + .career__line::after {
  content: "";
  border-bottom: 2px solid $color__link_hover;
}

.main__contacts_and_about_me__cont__info__text__contacts__phone__link,
.main__contacts_and_about_me__cont__info__text__contacts__email__link {
  text-decoration: none;
  color: $color__link_text;
}

.main__contacts_and_about_me__cont__info__text__contacts__phone__link:hover,
.main__contacts_and_about_me__cont__info__text__contacts__email__link:hover {
  color: $color__link_hover;
}

.main__contacts_and_about_me__cont__info__action {
  display: flex;
  justify-content: space-around;
}

.main__contacts_and_about_me__cont__info__action__communication {
  text-decoration: none;
  color: $color__link_text;
  background-color: $color__main;
  padding: 10px 20px;
  border-radius: 20px;
  @include text_font(16px, 16px);
  border: 2px solid $color__link_text;
  transition: transform 0.2s linear 0.1s, color 0.2s linear 0.1s,
    background-color 0.2s linear 0.1s, border 0.2s linear 0.1s;
}

.main__contacts_and_about_me__cont__info__action__communication:hover {
  color: $color__main;
  background-color: $color__link_text;
  border: 2px solid transparent;
  transform: scale(1.2);
}

.main__contacts_and_about_me__cont__info__action__communication:active {
  position: relative;
  top: 5px;
}

.my_projects {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_2;
}

.my_projects__cont__menu {
  list-style-type: none;
}

.my_projects__cont__menu__item {
  @include text_font(24px, 28px);
}

.my_projects__cont__menu__item__link {
  text-decoration: none;
  color: $color__link_text;
}

.my_projects__cont__menu__item__link:hover {
  text-decoration: underline;
  color: $color__link_hover;
}

.my_projects__cont__menu__item-duck_hunt {
  font-weight: 700;
}

.my_skills {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_1;
}

.my_skills__cont__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my_skills__cont__technologies__item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.2s linear 0.1s;
}

.my_skills__cont__technologies__item:hover {
  background-color: $color__main;
  transform: scale(1.2);
}

.my_skills__cont__technologies__item__img {
  width: 125px;
}

.my_skills__cont__technologies__item__description {
  display: none;
}

.my_certificates {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_2;
  background: conic-gradient(
    at 0% 30%,
    red 7.1428571%,
    orange 14.285714%,
    yellow 21.428571%,
    green 28.571428%,
    cyan 35.714285%,
    blue 42.857142%,
    blueviolet 50%
  );
}

.my_certificates__cont__description {
  text-align: center;
}

.my_certificates__cont__tests,
.my_certificates__cont__main,
.my_certificates__cont__minor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my_certificates__cont__tests__card,
.my_certificates__cont__main__card,
.my_certificates__cont__minor__card {
  margin: 10px;
}

.my_certificates__cont__tests__card__spec,
.my_certificates__cont__main__card__spec,
.my_certificates__cont__minor__card__spec,
.my_certificates__big__spec {
  position: relative;
  line-height: 0;
}

.my_certificates__big__spec {
  background-color: $color__link_text;
}

.my_certificates__cont__tests__card__spec__checkbox,
.my_certificates__cont__main__card__spec__checkbox,
.my_certificates__cont__minor__card__spec__checkbox,
.my_certificates__big__spec__checkbox {
  position: absolute;
  top: 0;
  left: -500vw;
}

.my_certificates__cont__tests__card__spec__overlay,
.my_certificates__cont__main__card__spec__overlay,
.my_certificates__cont__minor__card__spec__overlay,
.my_certificates__big__spec__overlay {
  display: none;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
  ~ .my_certificates__cont__tests__card__spec__overlay,
.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__overlay,
.my_certificates__cont__minor__card__spec__checkbox:checked
  ~ .my_certificates__cont__minor__card__spec__overlay,
.my_certificates__big__spec__checkbox:checked
  ~ .my_certificates__big__spec__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-color: red;
  line-height: 0;
}

.my_certificates__cont__tests__card__spec__overlay__img,
.my_certificates__cont__main__card__spec__overlay__img,
.my_certificates__cont__minor__card__spec__overlay__img {
  width: $width__image__certificate;
}

.my_certificates__cont__tests__card__spec__overlay__img:hover,
.my_certificates__cont__main__card__spec__overlay__img:hover,
.my_certificates__cont__minor__card__spec__overlay__img:hover {
  position: relative;
  bottom: 10px;
}

.my_certificates__cont__tests__card__spec__img,
.my_certificates__cont__main__card__spec__img,
.my_certificates__cont__minor__card__spec__img {
  width: $width__image__certificate;
}

.my_certificates__cont__tests__card__spec__img:hover,
.my_certificates__cont__main__card__spec__img:hover,
.my_certificates__cont__minor__card__spec__img:hover {
  position: relative;
  bottom: 10px;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
  ~ .my_certificates__cont__tests__card__spec__img,
.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__img,
.my_certificates__cont__minor__card__spec__checkbox:checked
  ~ .my_certificates__cont__minor__card__spec__img {
  visibility: hidden;
}

.my_certificates__cont__tests__card__spec__label,
.my_certificates__cont__main__card__spec__label,
.my_certificates__cont__minor__card__spec__label,
.my_certificates__big__spec__label {
  position: relative;
  left: 25px;
  display: block;
  height: 24px;
  width: 50px;
  background-color: red;
  border-radius: 12px;
  padding: 1px;
  cursor: pointer;
  transition: background-color 0.5s linear 0.1s;
  transform-origin: top;
  transform: scale(0);
  transition: transform 0.2s linear 0.01s;
}

.my_certificates__big__spec__label {
  bottom: 30px;
}

.my_certificates__cont__tests__card:hover
  .my_certificates__cont__tests__card__spec__label,
.my_certificates__cont__main__card:hover
  .my_certificates__cont__main__card__spec__label,
.my_certificates__cont__minor__card:hover
  .my_certificates__cont__minor__card__spec__label,
.my_certificates__big:hover .my_certificates__big__spec__label {
  transform: scale(1);
}

.my_certificates__cont__tests__card__spec__checkbox:checked
  ~ .my_certificates__cont__tests__card__spec__label,
.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__label,
.my_certificates__cont__minor__card__spec__checkbox:checked
  ~ .my_certificates__cont__minor__card__spec__label,
.my_certificates__big__spec__checkbox:checked
  ~ .my_certificates__big__spec__label {
  background-color: green;
}

.my_certificates__cont__tests__card__spec__label::before,
.my_certificates__cont__main__card__spec__label::before,
.my_certificates__cont__minor__card__spec__label::before,
.my_certificates__big__spec__label::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
  transition: left 0.5s linear 0.1s;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
  ~ .my_certificates__cont__tests__card__spec__label::before,
.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__label::before,
.my_certificates__cont__minor__card__spec__checkbox:checked
  ~ .my_certificates__cont__minor__card__spec__label::before,
.my_certificates__big__spec__checkbox:checked
  ~ .my_certificates__big__spec__label::before {
  left: 26px;
}

.my_certificates__cont__tests__card__spec__label::after,
.my_certificates__cont__main__card__spec__label::after,
.my_certificates__cont__minor__card__spec__label::after,
.my_certificates__big__spec__label::after {
  position: absolute;
  top: 12px;
  left: -15px;
  content: "ru";
  color: red;
  transition: left 0.01s linear 0.6s;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
  ~ .my_certificates__cont__tests__card__spec__label::after,
.my_certificates__cont__main__card__spec__checkbox:checked
  ~ .my_certificates__cont__main__card__spec__label::after,
.my_certificates__cont__minor__card__spec__checkbox:checked
  ~ .my_certificates__cont__minor__card__spec__label::after,
.my_certificates__big__spec__checkbox:checked
  ~ .my_certificates__big__spec__label::after {
  position: absolute;
  top: 12px;
  left: 53px;
  content: "en";
  color: green;
}

.my_certificates__big {
  position: fixed;
  top: 2vh;
  left: 20vw;
  z-index: 2;
}

.my_certificates__big__btn {
  display: block;
  width: 5vw;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: transparent;
}

.my_certificates__big__btn:hover {
  background-color: rgba(239, 239, 239, 0.8);
  color: $color__link_hover;
}

.my_certificates__big__btn-back {
  left: -5vw;
  background: radial-gradient(
    ellipse farthest-side at 100% 50%,
    $color__main_trasparent,
    rgba(30, 144, 255, 0.5) 50%,
    transparent
  );
}

.my_certificates__big__btn-back:hover {
  background: radial-gradient(
    ellipse farthest-side at 100% 50%,
    $color__link_text,
    rgba(30, 144, 255, 1) 50%,
    rgba(239, 239, 239, 0.8)
  );
}

.my_certificates__big__btn-next {
  right: -5vw;
  background: radial-gradient(
    ellipse farthest-side at 0% 50%,
    $color__main_trasparent,
    rgba(30, 144, 255, 0.5) 50%,
    transparent
  );
}

.my_certificates__big__btn-next:hover {
  background: radial-gradient(
    ellipse farthest-side at 0% 50%,
    $color__link_text,
    rgba(30, 144, 255, 1) 50%,
    rgba(239, 239, 239, 0.8)
  );
}

.my_certificates__big__spec__overlay__img {
  width: 60vw;
}

.my_certificates__big__spec__img {
  width: 60vw;
}

.education {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_1;
}

.education__cards__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.education__cards__item__period {
  width: $width__period;
  font-weight: 700;
}

.education__cards__item__where {
  width: 100% - $width__period - 5%;
}

.education__cards__item__where__institution {
  font-weight: 700;
}

.career {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_bg__section_2;
  background: linear-gradient(
      45deg,
      $color__main_trasparent 50%,
      rgba(0, 186, 0, 0.2)
    ),
    linear-gradient(-45deg, rgba(0, 186, 0, 0.2) 50%, $color__main_trasparent);
}

.career__title__cards__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.career__title__cards__item__period {
  width: $width__period;
  font-weight: 700;
}

.career__title__cards__item__description {
  width: 100% - $width__period - 5%;
}

.career__title__cards__item__description__position {
  font-weight: 700;
}

.career__title__cards__item__description__responsibilities__paragraph {
  margin-bottom: 0;
  font-weight: 700;
}

.career__title__cards__item__description__responsibilities__list {
  margin-bottom: 10px;
}

.career__title__cards__item__description__responsibilities__list__item {
  margin-top: 3px;
  list-style: none;
  display: flex;
  align-items: center;
}

.career__title__cards__item__description__responsibilities__list__item::before {
  @include point_item;
}

.career__title__cards__item:hover
  .career__title__cards__item__description__responsibilities__list__item::before {
  animation: $animation_point_item;
}

.career__title__cards__item__description__achievements__paragraph {
  margin-bottom: 0;
  font-weight: 700;
}

.career__title__cards__item__description__achievements__list__item {
  margin-top: 3px;
  list-style: none;
  display: flex;
  align-items: center;
}

.career__title__cards__item__description__achievements__list__item::before {
  @include point_item;
}

.career__title__cards__item:hover
  .career__title__cards__item__description__achievements__list__item::before {
  animation: $animation_point_item;
}
