@-webkit-keyframes rotate_item_point {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    border-top: 7px solid red;
  }
  14.285714% {
    -webkit-transform: rotateZ(51.42857deg);
            transform: rotateZ(51.42857deg);
    border-top: 7px solid orange;
  }
  28.571428% {
    -webkit-transform: rotateZ(102.85714deg);
            transform: rotateZ(102.85714deg);
    border-top: 7px solid yellow;
  }
  42.857142% {
    -webkit-transform: rotateZ(154.28571deg);
            transform: rotateZ(154.28571deg);
    border-top: 7px solid green;
  }
  57.142856% {
    -webkit-transform: rotateZ(205.71429deg);
            transform: rotateZ(205.71429deg);
    border-top: 7px solid cyan;
  }
  71.42857% {
    -webkit-transform: rotateZ(257.14286deg);
            transform: rotateZ(257.14286deg);
    border-top: 7px solid blue;
  }
  85.714284% {
    -webkit-transform: rotateZ(308.87143deg);
            transform: rotateZ(308.87143deg);
    border-top: 7px solid blueviolet;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-top: 7px solid red;
  }
}

@keyframes rotate_item_point {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    border-top: 7px solid red;
  }
  14.285714% {
    -webkit-transform: rotateZ(51.42857deg);
            transform: rotateZ(51.42857deg);
    border-top: 7px solid orange;
  }
  28.571428% {
    -webkit-transform: rotateZ(102.85714deg);
            transform: rotateZ(102.85714deg);
    border-top: 7px solid yellow;
  }
  42.857142% {
    -webkit-transform: rotateZ(154.28571deg);
            transform: rotateZ(154.28571deg);
    border-top: 7px solid green;
  }
  57.142856% {
    -webkit-transform: rotateZ(205.71429deg);
            transform: rotateZ(205.71429deg);
    border-top: 7px solid cyan;
  }
  71.42857% {
    -webkit-transform: rotateZ(257.14286deg);
            transform: rotateZ(257.14286deg);
    border-top: 7px solid blue;
  }
  85.714284% {
    -webkit-transform: rotateZ(308.87143deg);
            transform: rotateZ(308.87143deg);
    border-top: 7px solid blueviolet;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-top: 7px solid red;
  }
}

@-webkit-keyframes rotate_point_item {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    border-radius: 0%;
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-radius: 0%;
  }
}

@keyframes rotate_point_item {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    border-radius: 0%;
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-radius: 0%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-button {
  width: 14px;
  background-color: #7c70ff;
}

body:hover::-webkit-scrollbar-button {
  background-color: #fcecd2;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(124, 112, 255, 0.6);
  border-radius: 10px;
}

body:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(252, 236, 210, 0.6);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: #7c70ff;
}

body:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fcecd2;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 3px;
  text-align: center;
  cursor: context-menu;
  color: #9c271f;
}

h2::before,
h2::after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top: 7px solid red;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  margin: 0 10px;
  -webkit-animation: rotate_item_point 1s linear 1s infinite none;
          animation: rotate_item_point 1s linear 1s infinite none;
}

h2::before {
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

h2::after {
  animation-direction: reverse;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.center {
  padding: 0 calc((100% - 1200px) / 2);
}

.header {
  height: 50px;
  background-color: #fcecd2;
}

.header__cont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cont__logo {
  color: #7c70ff;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.header__cont__navi {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__cont__navi__link {
  color: #7c70ff;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}

.header__cont__navi__link:hover {
  color: #cfbe2d;
}

.main__contacts_and_about_me {
  background-color: #f3f2ff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__contacts_and_about_me__vacancy {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.main__contacts_and_about_me__name {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.main__contacts_and_about_me__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__contacts_and_about_me__cont__my_photo {
  max-width: 30%;
  max-height: 480px;
}

.main__contacts_and_about_me__cont__info {
  min-height: 480px;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.anchor {
  font-size: 0;
  line-height: 0;
}

.career__line {
  display: inline;
  height: 0;
  width: 0;
  margin: 0 auto;
}

.career__line::after {
  content: "";
  width: 250px;
  border-bottom: 2px solid #7c70ff;
  display: block;
  margin: 0 auto 10px;
}

.career__line:hover::after {
  content: "";
  border-bottom: 2px solid #cfbe2d;
}

h2:hover + .career__line::after {
  content: "";
  border-bottom: 2px solid #cfbe2d;
}

.main__contacts_and_about_me__cont__info__text__contacts__phone__link,
.main__contacts_and_about_me__cont__info__text__contacts__email__link {
  text-decoration: none;
  color: #7c70ff;
}

.main__contacts_and_about_me__cont__info__text__contacts__phone__link:hover,
.main__contacts_and_about_me__cont__info__text__contacts__email__link:hover {
  color: #cfbe2d;
}

.main__contacts_and_about_me__cont__info__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__contacts_and_about_me__cont__info__action__communication {
  text-decoration: none;
  color: #7c70ff;
  background-color: #fcecd2;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid #7c70ff;
  -webkit-transition: color 0.2s linear 0.1s, background-color 0.2s linear 0.1s, border 0.2s linear 0.1s, -webkit-transform 0.2s linear 0.1s;
  transition: color 0.2s linear 0.1s, background-color 0.2s linear 0.1s, border 0.2s linear 0.1s, -webkit-transform 0.2s linear 0.1s;
  transition: transform 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s, border 0.2s linear 0.1s;
  transition: transform 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s, border 0.2s linear 0.1s, -webkit-transform 0.2s linear 0.1s;
}

.main__contacts_and_about_me__cont__info__action__communication:hover {
  color: #fcecd2;
  background-color: #7c70ff;
  border: 2px solid transparent;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main__contacts_and_about_me__cont__info__action__communication:active {
  position: relative;
  top: 5px;
}

.my_projects {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fffcf5;
}

.my_projects__cont__menu {
  list-style-type: none;
}

.my_projects__cont__menu__item {
  font-size: 24px;
  line-height: 28px;
}

.my_projects__cont__menu__item__link {
  text-decoration: none;
  color: #7c70ff;
}

.my_projects__cont__menu__item__link:hover {
  text-decoration: underline;
  color: #cfbe2d;
}

.my_projects__cont__menu__item-duck_hunt {
  font-weight: 700;
}

.my_skills {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f3f2ff;
}

.my_skills__cont__technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my_skills__cont__technologies__item {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s linear 0.1s;
  transition: -webkit-transform 0.2s linear 0.1s;
  transition: transform 0.2s linear 0.1s;
  transition: transform 0.2s linear 0.1s, -webkit-transform 0.2s linear 0.1s;
}

.my_skills__cont__technologies__item:hover {
  background-color: #fcecd2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.my_skills__cont__technologies__item__img {
  width: 125px;
}

.my_skills__cont__technologies__item__description {
  display: none;
}

.my_certificates {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fffcf5;
  background: conic-gradient(at 0% 30%, red 7.14286%, orange 14.28571%, yellow 21.42857%, green 28.57143%, cyan 35.71428%, blue 42.85714%, blueviolet 50%);
}

.my_certificates__cont__description {
  text-align: center;
}

.my_certificates__cont__tests,
.my_certificates__cont__main,
.my_certificates__cont__minor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my_certificates__cont__tests__card,
.my_certificates__cont__main__card,
.my_certificates__cont__minor__card {
  margin: 10px;
}

.my_certificates__cont__tests__card:hover,
.my_certificates__cont__main__card:hover,
.my_certificates__cont__minor__card:hover {
  position: relative;
  bottom: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.my_certificates__cont__tests__card__spec,
.my_certificates__cont__main__card__spec,
.my_certificates__cont__minor__card__spec,
.my_certificates__big__spec {
  position: relative;
  line-height: 0;
}

.my_certificates__big__spec {
  background-color: #7c70ff;
}

.my_certificates__cont__tests__card__spec__checkbox,
.my_certificates__cont__main__card__spec__checkbox,
.my_certificates__cont__minor__card__spec__checkbox,
.my_certificates__big__spec__checkbox {
  position: absolute;
  top: 0;
  left: -500vw;
}

.my_certificates__cont__tests__card__spec__overlay,
.my_certificates__cont__main__card__spec__overlay,
.my_certificates__cont__minor__card__spec__overlay,
.my_certificates__big__spec__overlay {
  display: none;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
~ .my_certificates__cont__tests__card__spec__overlay,
.my_certificates__cont__main__card__spec__checkbox:checked
~ .my_certificates__cont__main__card__spec__overlay,
.my_certificates__cont__minor__card__spec__checkbox:checked
~ .my_certificates__cont__minor__card__spec__overlay,
.my_certificates__big__spec__checkbox:checked
~ .my_certificates__big__spec__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  line-height: 0;
}

.my_certificates__cont__tests__card__spec__overlay__img,
.my_certificates__cont__main__card__spec__overlay__img,
.my_certificates__cont__minor__card__spec__overlay__img {
  width: 150px;
}

.my_certificates__cont__tests__card__spec__img,
.my_certificates__cont__main__card__spec__img,
.my_certificates__cont__minor__card__spec__img {
  width: 150px;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
~ .my_certificates__cont__tests__card__spec__img,
.my_certificates__cont__main__card__spec__checkbox:checked
~ .my_certificates__cont__main__card__spec__img,
.my_certificates__cont__minor__card__spec__checkbox:checked
~ .my_certificates__cont__minor__card__spec__img {
  visibility: hidden;
}

.my_certificates__cont__tests__card__spec__label,
.my_certificates__cont__main__card__spec__label,
.my_certificates__cont__minor__card__spec__label,
.my_certificates__big__spec__label {
  position: relative;
  left: 25px;
  display: block;
  height: 24px;
  width: 50px;
  background-color: red;
  border-radius: 12px;
  padding: 1px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s linear 0.1s;
  transition: background-color 0.5s linear 0.1s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s linear 0.01s;
  transition: -webkit-transform 0.2s linear 0.01s;
  transition: transform 0.2s linear 0.01s;
  transition: transform 0.2s linear 0.01s, -webkit-transform 0.2s linear 0.01s;
}

.my_certificates__big__spec__label {
  bottom: 30px;
}

.my_certificates__big:hover .my_certificates__big__spec__label {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.my_certificates__cont__tests__card:hover
.my_certificates__cont__tests__card__spec__label,
.my_certificates__cont__main__card:hover
.my_certificates__cont__main__card__spec__label,
.my_certificates__cont__minor__card:hover
.my_certificates__cont__minor__card__spec__label {
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  top: 10px;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
~ .my_certificates__cont__tests__card__spec__label,
.my_certificates__cont__main__card__spec__checkbox:checked
~ .my_certificates__cont__main__card__spec__label,
.my_certificates__cont__minor__card__spec__checkbox:checked
~ .my_certificates__cont__minor__card__spec__label,
.my_certificates__big__spec__checkbox:checked
~ .my_certificates__big__spec__label {
  background-color: green;
}

.my_certificates__cont__tests__card__spec__label::before,
.my_certificates__cont__main__card__spec__label::before,
.my_certificates__cont__minor__card__spec__label::before,
.my_certificates__big__spec__label::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
  -webkit-transition: left 0.5s linear 0.1s;
  transition: left 0.5s linear 0.1s;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
~ .my_certificates__cont__tests__card__spec__label::before,
.my_certificates__cont__main__card__spec__checkbox:checked
~ .my_certificates__cont__main__card__spec__label::before,
.my_certificates__cont__minor__card__spec__checkbox:checked
~ .my_certificates__cont__minor__card__spec__label::before,
.my_certificates__big__spec__checkbox:checked
~ .my_certificates__big__spec__label::before {
  left: 26px;
}

.my_certificates__cont__tests__card__spec__label::after,
.my_certificates__cont__main__card__spec__label::after,
.my_certificates__cont__minor__card__spec__label::after,
.my_certificates__big__spec__label::after {
  position: absolute;
  top: 12px;
  left: -15px;
  content: "ru";
  color: red;
  -webkit-transition: left 0.01s linear 0.6s;
  transition: left 0.01s linear 0.6s;
}

.my_certificates__cont__tests__card__spec__checkbox:checked
~ .my_certificates__cont__tests__card__spec__label::after,
.my_certificates__cont__main__card__spec__checkbox:checked
~ .my_certificates__cont__main__card__spec__label::after,
.my_certificates__cont__minor__card__spec__checkbox:checked
~ .my_certificates__cont__minor__card__spec__label::after,
.my_certificates__big__spec__checkbox:checked
~ .my_certificates__big__spec__label::after {
  position: absolute;
  top: 12px;
  left: 53px;
  content: "en";
  color: green;
}

.my_certificates__big {
  position: fixed;
  top: 2vh;
  left: 20vw;
  z-index: 2;
  display: none;
}

.my_certificates__big__btn {
  display: block;
  width: 5vw;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: transparent;
}

.my_certificates__big__btn:hover {
  background-color: rgba(239, 239, 239, 0.8);
  color: #cfbe2d;
}

.my_certificates__big__btn-back {
  left: -5vw;
  background: radial-gradient(ellipse farthest-side at 100% 50%, rgba(252, 236, 210, 0.2), rgba(30, 144, 255, 0.5) 50%, transparent);
}

.my_certificates__big__btn-back:hover {
  background: radial-gradient(ellipse farthest-side at 100% 50%, #7c70ff, dodgerblue 50%, rgba(239, 239, 239, 0.8));
}

.my_certificates__big__btn-next {
  right: -5vw;
  background: radial-gradient(ellipse farthest-side at 0% 50%, rgba(252, 236, 210, 0.2), rgba(30, 144, 255, 0.5) 50%, transparent);
}

.my_certificates__big__btn-next:hover {
  background: radial-gradient(ellipse farthest-side at 0% 50%, #7c70ff, dodgerblue 50%, rgba(239, 239, 239, 0.8));
}

.my_certificates__big__spec__overlay__img {
  width: 60vw;
}

.my_certificates__big__spec__img {
  width: 60vw;
}

.my_certificates__big__close_big_certificate {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  color: transparent;
  background-color: transparent;
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  width: 40px;
}

.my_certificates__big__spec:hover
~ .my_certificates__big__close_big_certificate,
.my_certificates__big__spec:hover
~ .my_certificates__big__close_big_certificate {
  color: #7c70ff;
  background-color: rgba(133, 133, 133, 0.3);
}

.my_certificates__big__close_big_certificate:hover {
  color: #cfbe2d;
  background-color: rgba(133, 133, 133, 0.8);
}

.my_certificates__big__close_big_certificate__cross {
  display: block;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.education {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f3f2ff;
}

.education__cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.education__cards__item__period {
  width: 15%;
  font-weight: 700;
}

.education__cards__item__where {
  width: 80%;
}

.education__cards__item__where__institution {
  font-weight: 700;
}

.career {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fffcf5;
  background: linear-gradient(45deg, rgba(252, 236, 210, 0.2) 50%, rgba(0, 186, 0, 0.2)), linear-gradient(-45deg, rgba(0, 186, 0, 0.2) 50%, rgba(252, 236, 210, 0.2));
}

.career__title__cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.career__title__cards__item__period {
  width: 15%;
  font-weight: 700;
}

.career__title__cards__item__description {
  width: 80%;
}

.career__title__cards__item__description__position {
  font-weight: 700;
}

.career__title__cards__item__description__responsibilities__paragraph {
  margin-bottom: 0;
  font-weight: 700;
}

.career__title__cards__item__description__responsibilities__list {
  margin-bottom: 10px;
}

.career__title__cards__item__description__responsibilities__list__item {
  margin-top: 3px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.career__title__cards__item__description__responsibilities__list__item::before {
  content: "";
  height: 100%;
  width: 0;
  border: 5px solid red;
  margin: 0 10px;
}

.career__title__cards__item:hover
.career__title__cards__item__description__responsibilities__list__item::before {
  -webkit-animation: rotate_point_item 4s linear 0.5s infinite normal none;
          animation: rotate_point_item 4s linear 0.5s infinite normal none;
}

.career__title__cards__item__description__achievements__paragraph {
  margin-bottom: 0;
  font-weight: 700;
}

.career__title__cards__item__description__achievements__list__item {
  margin-top: 3px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.career__title__cards__item__description__achievements__list__item::before {
  content: "";
  height: 100%;
  width: 0;
  border: 5px solid red;
  margin: 0 10px;
}

.career__title__cards__item:hover
.career__title__cards__item__description__achievements__list__item::before {
  -webkit-animation: rotate_point_item 4s linear 0.5s infinite normal none;
          animation: rotate_point_item 4s linear 0.5s infinite normal none;
}
/*# sourceMappingURL=style.css.map */